
a.navbar-brand {
    position: sticky;
    top: 0; /* Set the top position to the viewport's top */
    z-index: 1000;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
  color: #0A8ED9;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #0A8ED9;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}



@keyframes pulse {
    0%, 90% {
        transform: scale(1); /* Original size */
    }

    30% {
        transform: scale(1.07); /* Slightly larger */
    }
}

.cancelbtn {
    width: auto;
    padding: 12px 20px;
    background: linear-gradient(180deg, rgba(255, 223, 186, 0.22) 0%, rgba(255, 105, 180, 0.35) 100%);
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    animation: pulse 2s infinite ease-in-out; /* Apply the pulse animation */
}
