@page
@model WebApplication1.Pages.AboutUsModel
@{
}


<!DOCTYPE html>
<html lang="en">
<body style="font-family: Arial, sans-serif;">

    <h1>About Us</h1>

    <p>Welcome to [Your Company Name], where [brief description of your company/business]. We strive to [mention your mission or goal]. Our team is dedicated to providing [brief overview of your products/services].</p>

    <h2>Our Mission</h2>

    <p>[Your company's mission statement goes here. Describe the purpose and values that drive your business.]</p>

    <h2>Meet the Team</h2>

    <p>Get to know the people behind [Your Company Name]. We are passionate about [describe what your team is passionate about] and committed to delivering [mention what you aim to deliver].</p>

    <h2>Contact Us</h2>

    <p>Feel free to reach out to us! You can contact us via email at "qbworkk@gmail.com" or give us a call at [+90 552 000 00 00]. We look forward to hearing from you!</p>

</body>
</html>
